@import "styles/_variables";

.contentContainer {
  @include heroFont;
  @include flexStart;
  flex-direction: column;
  width: 100vw;
  @include maxWidth;
  padding: 0 35px;
}

.header {
  @include basicFlex;
  margin-top: 5rem;
  font-size: $fontLarge;
  color: $titleColor;
  font-weight: bold;
  cursor: default;
}

.score {
  @include basicFlex;
  margin-top: 5rem;
  font-size: $fontXL;
  font-weight: bold;
  color: $scoreTextColor;
  cursor: default;
}

.anchorContainer {
    @include basicFlex;
    margin-top: 10rem;
    width: 100%;
}

.anchor {
    @include heroFont;
    font-weight: bold;
    font-size: $fontMediumLarge;
    color: $textColor;
    background-color: $startGameColor;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    height: 80px;
    text-align: center;
    @include basicFlex;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
}
