@import 'styles/_variables';


.pageContainer {
    @include basicFlex;
    flex-direction: column;
}

.contentContainer {
    @include flexStart;
    flex-direction: column;
    width: 100vw;
    @include maxWidth;
}

.titleContainer {
    @include basicFlex;
}

.logoContainer {
    @include flexStart;
    width: 100vw;
}

.title {
    padding: 0;
    margin: 0;
    @include heroFont;
    color: $titleColor;
    font-size: $fontLarge;
    cursor: default;
}

.categoryContainer {
    @include basicFlex;
    flex-direction: row;
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 2px;
    max-width: 900px;
}

.anchor {
    @include heroFont;
    font-weight: bold;
    font-size: $fontSmall;
    color: $textColor;
    background-color: $categoryColor;
    border-radius: 15px;
    padding: 10px;
    width: 160px;
    height: 100px;
    text-align: center;
    @include basicFlex;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
}