@import 'styles/_variables';


.pageContainer {
    @include basicFlex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.contentContainer {
    @include flexStart;
    flex-direction: column;
    width: 100vw;
    @include maxWidth;
}

.titleContainer {
    @include basicFlex;
}

.difficultyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    @include maxWidth;
}

.difficultyTitle {
    @include basicFlex;
    padding: 0;
    margin: 0;
    @include heroFont;
    color: $titleColor;
    font-size: $fontMedium;
    cursor: default;
}

.logoContainer {
    @include flexStart;
    width: 100vw;
}

.title {
    padding: 0;
    margin: 0;
    @include heroFont;
    color: $titleColor;
    font-size: $fontLarge;
    cursor: default;
}

.categoryContainer {
    @include basicFlex;
    flex-direction: row;
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 2px;
    max-width: 900px;
}

.anchor {
    @include heroFont;
    font-weight: bold;
    font-size: $fontSmall;
    color: $textColor;
    background-color: $categoryColor;
    border-radius: 15px;
    padding: 10px;
    width: 160px;
    height: 100px;
    text-align: center;
    @include basicFlex;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
}

.button {
    border: none;
    width: 130px;
    height: 80px;
}

.green {
    background-color: rgb(85, 199, 85);
}

.greenSelected {
    background-color: rgb(55, 122, 55);
    &:focus {
        background-color: rgb(55, 122, 55);
        color: white;
    }

    &:active {
        background-color: rgb(55, 122, 55);
        color: white;
    }
}

.orange {
    background-color: rgb(231, 174, 68);
}

.orangeSelected {
    background-color: rgb(172, 132, 59);
    &:focus {
        background-color: rgb(172, 132, 59);
        color: white;
    }

    &:active {
        background-color: rgb(172, 132, 59);
        color: white;
    }
}

.red {
    background-color: rgb(240, 77, 77);
}

.redSelected {
    background-color: rgb(156, 54, 54);
    &:focus {
        background-color: rgb(156, 54, 54);
        color: white;
    }

    &:active {
        background-color: rgb(156, 54, 54);
        color: white;
    }
}