@import "styles/_variables";

.pageContainer {
  @include basicFlex;
  flex-direction: column;
  margin-bottom: 5rem;
  
}

.contentContainer {
  @include flexStart;
  flex-direction: column;
  @include maxWidth;
  width: 100vw;
  padding: 0 30px;
}

.titleContainer {
  @include basicFlex;
}

.title {
  padding: 0;
  margin: 0;
  @include heroFont;
  color: $titleColor;
  font-size: $fontLarge;
  cursor: default;
}

.questionContainer {
  @include basicFlex;
  margin-top: 3rem;
  max-width: 80vw;
  background-color: $questionBG;
  border-radius: 10px;
}

.question {
  @include questionAnswerFont;
  @include basicFlex;
  font-size: $fontSmallMedium;
  color: textColor;
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: default;
}

.answerContainer {
  @include basicFlex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}

.answerList {
  @include basicFlex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.answers {
  @include basicFlex;
  list-style: none;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.sumbitContainer {
    @include basicFlex;
    margin-bottom: 1rem;
    width: 100%;
}

.button {
  position: relative;
  @include basicFlex;
  @include questionAnswerFont;
  font-size: $fontSmall;
  padding: 0;
  border-radius: 5px;
  min-height: 40px;
  background-color: $answersButtonBG;
  border-radius: 6px;
  border-width: 0;
  color: $answersTextColor;
  cursor: pointer;
  // margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  width: 100%;

  &:hover {
    background-color: $hoverColor;
  }
  &:focus {
    background-color: $focusColor;
  }
}

.buttonChosen {
  background-color: $focusColor !important;
}

.buttonNotChosen {
  background-color: $answersButtonBG !important;
}

.buttonSubmit {
  background-color: $submitButtonBG !important;

    &:hover {
    background-color: $submitButtonBG !important;
  }
}

.answerStatus {
  position: absolute;
  right: 5%;
}
