// FLEX
@mixin basicFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flexEnd {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

// FONTS
@mixin heroFont {
    font-family: 'Rampart One', cursive;
}

@mixin questionAnswerFont {
    font-family: 'Lato', sans-serif;
}

//FONT SIZES
$fontSmall: 18px;
$fontSmallMedium: 20px;
$fontMedium: 25px;
$fontMediumLarge: 30px;
$fontLarge: 50px;
$fontXL: 70px;

// COLORS
$mainColorPurple: rgb(140, 79, 255);
// $buttonColor
// $titleColor
// $textColor