@mixin basicFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@mixin flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flexEnd {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@mixin heroFont {
    font-family: 'Rampart One', cursive;
}

@mixin questionAnswerFont {
    font-family: 'Lato', sans-serif;
}

$fontSmall: 18px;
$fontSmallMedium: 20px;
$fontMedium: 25px;
$fontMediumLarge: 30px;
$fontLarge: 50px;
$fontXL: 70px;