@import 'styles/_variables';

.pageContainer {
    @include basicFlex;
    flex-direction: column;
}

.contentContainer {
    @include basicFlex;
    flex-direction: column;
    gap: 20rem;
    width: 100vw;
    height: 100vh;
}

.titleContainer {
    @include basicFlex;
}

.title {
    padding: 0;
    margin: 0;
    @include heroFont;
    color: rgb(140, 79, 255);
    font-size: $fontXL;
}

.anchorContainer {
    @include basicFlex;
}

.anchor {
    @include heroFont;
    font-weight: bold;
    font-size: $fontMediumLarge;
    color: rgb(85, 118, 228);
    background-color: rgb(129, 216, 111);
    border-radius: 15px;
    padding: 10px;
}